@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,400;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}



/* SECCION 1 */

body{
  min-width: 380px;
  max-width: 1350px;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url("../img/ciudad.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;

}


.contenedor_nav .fa-solid {
   display: none;
}

.contenedor_nav .navegador{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 86px;
  padding-top: 10px;
  margin-right: 20px;
  font-weight: bold;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  z-index: 100;
  width: 100%;
  max-width: 1350px;
}
.contenedor_nav .navegador .nav_item {
  font-size: 22px;
  color: rgb(247, 247, 247);
  text-decoration: none;
  padding: 8px 15px;
  border-right: solid 1px;
 
}

.contenedor_nav .navegador .nav_item:nth-child(3) {
  border: none;
}

.contenedor_nav .navegador .nav_item:hover{
  background-color: white;
  color: rgb(89, 90, 96);
}

.contenedor_imagen{
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor_imagen .contenedor_textos{
  background-color: rgba(0,0,0,0.4);
  padding: 20px;
text-align: center;
}

.contenedor_imagen .contenedor_textos h1{
  font-size: 4rem;
  color: antiquewhite;
  text-shadow: 6px 6px black;

}
.contenedor_imagen .contenedor_textos p{
  color: antiquewhite;
padding-top: 10px;
padding-bottom: 20px;

font-size: 1.5rem;
}

  .contenedor_imagen .contenedor_textos a{
    color: antiquewhite;
  background-color: rgb(89, 90, 96);
  padding: 5px 20px;
}

.contenedor_imagen .contenedor_textos a:hover{
  color: rgb(89, 90, 96);
  background-color: rgb(249, 249, 249);
}


.hero_ola {
  height: 170px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  }

  /*MEDIA 785 */


  @media (max-width: 785px){
    .contenedor_nav .navegador{
      display: none;
    }

    .contenedor_nav .fa-solid{
      display: block;
      color: rgb(245, 236, 236);
      font-size: 55px;
      text-shadow: 2px 2px rgb(22, 22, 22);
    }

    .contenedor_nav {
      display: flex;
      align-items: end;
      justify-content: center;
      background-color: rgba(0,0,0,0.4);
      position: fixed;
      z-index: 100;
      width: 100%;
      max-width: 785px;
      padding: 7px;
    }
  }



/* SECCION 2 */


main{
  display: flex;
  justify-content: center;
}

.contenedor_presentacion{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor_presentacion .presentacion_img{
  width: 200px;
}

.contenedor_presentacion .presentacion_nombre{
  font-size: 2rem;
  text-align: center;
}

.contenedor_presentacion .presentacion_texto{
  width: 50%;
  text-align: center;
  padding: 20px 0 25px 0;
  line-height: 35px;
} 

.contenedor_presentacion .presentacion_btn {
    text-decoration: none;
    border: solid 1px;
    padding: 10px 20px;
    background-color:rgb(84, 88, 221) ;
    color: white;
    border-radius: 9px;
  }

          /*  - MEDIA 785 PX */

@media (max-width: 785px){
  .contenedor_presentacion .presentacion_texto{
    width: 70%;
    font-size: 13px;
    line-height: 22px ;
  } 
  .contenedor_presentacion .presentacion_img{
    width: 150px;
  }
    }


/*SECCION 3*/

.contenedor3 {
  width: 100%;
  padding-top: 145px;

}

.contenedor3 .c3_1 {
  width: 100%;
  height: 350px;

  display: flex;
}

.contenedor3 .c3_1 .img_1 {
  width: 40%;
  height: 350px;
  object-fit: cover;
}

.contenedor3 .c3_1 .c3_1_textos{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  text-align: end;
  padding: 40px;
} 

.contenedor3 .c3_2 {
  width: 100%;
  height: 350px;

  display: flex;
}

.contenedor3 .c3_2 .img_2 {
  width: 40%;
  height: 350px;
  object-fit: cover;
}

.contenedor3 .c3_2 .c3_2_textos{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  text-align: start;
  padding: 40px;
} 

@media (max-width: 785px){
  .contenedor3 .c3_1 {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contenedor3 .c3_1 .img_1 {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  .contenedor3 .c3_1 .c3_1_textos{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 10px;
  } 


  .contenedor3 .c3_2 {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 50px;
  }

  .contenedor3 .c3_2 .img_2 {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  .contenedor3 .c3_2 .c3_2_textos{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 10px;
  } 

}


/*SECCION 4 */

.cc4{
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo_2{
  font-size: 30px;
  color: rgb(38, 38, 42);
  margin-top: 190px;
  margin-bottom: 60px;
  text-align: center;
  font-weight: bold;
}


.contenedor4 {
  display: grid;
  grid-template-columns: repeat(4,25%);
  grid-auto-rows: 250px;
  grid-gap: 4px;
  margin-bottom: 100px;
}

.c4_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c4_item:nth-child(1){
  grid-row-start: span 3;
}

.c4_item:nth-child(2){
  grid-column-start: span 2;
}

 .c4_item:nth-child(8){
  grid-column-start: span 2;
}

/* - MEDIA 1000 PX */

@media (max-width: 1000px){
   .contenedor4 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 20px; 
    grid-auto-rows: 200px;}

}

 


/*SECCION 5 */

.contenedor5 {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: space-between;
 background-color: rgb(238, 57, 57);
 margin-bottom: 70px;
}

.contenedor5 .c5_producto {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding-left: 20px;;
}

.contenedor5 .c5_producto .c5_textos {
  display: flex;
  flex-direction: column;
  width: 70%;
  color: rgb(67, 67, 67);
}

.contenedor5 .c5_producto .c5_textos h2{
  width: 70%;
  color: rgb(212, 232, 248);
  
}

.contenedor5 .c5_producto .c5_img {
    height:83%;
    filter: drop-shadow(5px 5px 5px);
    margin-right: 15px;
}

.contenedor5 .c5_link{
  display: flex;
  align-items: center;
  padding: 40px;
}

.contenedor5 .c5_link a  {
  color: rgb(238, 57, 57);
  text-decoration: none;
  border: 1px rgb(238, 57, 57) solid;
  padding: 8px 32px;
  background-color: rgb(212, 232, 248);
  font-weight: bold;
  border-radius: 9px;
}

/*CONTENEDOR 6 */ 

.cc6 {
width: 100%;
height:300px;
display: flex;
justify-content: center;
margin-bottom: 70px;
}

.cc6 .contenedor6 {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 25px;

}

.cc6 .contenedor6 .tarjeta {
  width: 250px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 36px;
}

.cc6 .contenedor6 .tarjeta .fa-solid{
  font-size: 38px;
  }


.cc6 .contenedor6 .tarjeta .fa-regular{
font-size: 38px;
}

.cc6 .contenedor6 .tarjeta .c5_text h3{
  text-align: center;
}

.cc6 .contenedor6 .tarjeta .c5_text p{
  text-align: center;
  padding-top: 10px;
}


/*CONTENEDOR 7 */

.cc_footer{
  background-color: rgb(40, 40, 40);
  width: 100%;
  height: 550px;
  display: flex;
}

.cc_footer .c7_izquierda{
  width: 45%;
  height: 548px;
}

.cc_footer .c7_izquierda .c7_contenido_izquierda .footer_img{
  width: 190px;
  padding-left: 30px;
  padding-top: 30px;
}

.cc_footer .c7_izquierda .c7_contenido_izquierda p{
  font-size: 50px;
  font-weight: bold;
  width: 85%;
  line-height: 70px;
  color: rgb(84, 88, 221) ;
  padding-left: 30px;
  margin-top: 20px;
}

.cc_footer .c7_derecha{
  width: 55%;
  height: 548px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-right: 10px;
}

.cc_footer .c7_derecha .c7_productos h3{
  color: white;
  font-size: 20px;
}

.cc_footer .c7_derecha .c7_productos ul{
  color: white;
  padding-top: 15px;
  padding-right: 20px;
}

.cc_footer .c7_derecha .c7_productos ul li{
list-style: none;
  color: white;
  padding: 5px;
}


@media (max-width: 935px){

  .cc_footer{
    background-color: rgb(40, 40, 40);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cc_footer .c7_izquierda{
    width: 100%;
    height: auto;
    text-align: center;
  }

  .cc_footer .c7_izquierda .c7_contenido_izquierda p{
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    line-height: 70px;
    color: rgb(84, 88, 221) ;
    text-align: center;
  }

  .cc_footer .c7_derecha{
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 45px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 10px;
  }

  @media (max-width: 526px){
    .cc_footer .c7_derecha{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      padding-top: 45px;
      text-align: center;
      gap: 30px;
      padding-right: 10px;
      padding-bottom: 50px;
      padding-left: 10px;
    }
    .cc_footer .c7_derecha .c7_productos ul{
      color: white;
      padding-top: 7px;
      padding-right: 20px;
    }
    .cc_footer .c7_derecha .c7_productos ul li{
        padding: 2px;
      }
  }

}

